<header class="bg-white z-50 border-b border-gray-100">
    <div class="max-w-8xl mx-auto px-2">
        <div class="flex items-center justify-between py-2">
            <div class="flex items-center gap-1">
                <img style="margin-left: -10px;" src="../images/logo.jpg" alt="Profile"
                    class="w-40 h-40 rounded-full object-cover" />
                <div class="relative px-2">
                    <h1 style="font-size: larger; font-weight: bolder;" >NCR Institute of CNC & VMC </h1>
                    <p>Main Road Sector 22-23 (Hardware to Sohna Road) Near Punjab Rolling Chowk, Nit Faridabad, Haryana</p>
                </div>
            </div>
        </div>
    </div>
</header>