<% if( url.url ){%>
    <div id="pageLoadModal" class="modal-overlay">
        <div class="modal-content">
            <img style="height: 600px; width: auto;" 
            src="<%= url.url %>" alt="">
            <button id="closeModal">Close</button>
        </div>
    </div>
<%}%>    